.contact_link {
  position: relative;
  display: flex;
  align-items: center;
  gap: 14px;
  width: 90%;
  height: 52px;
  margin-block: 15px;
  box-sizing: border-box;
  border-radius: 14px;
  transition: border-color 0.3s ease;
}

.contact_link:hover {
  border-color: #549e73;
}

.contact_icon {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
  min-width: 36px;
  height: 36px;
  z-index: 10;
  font-size: 13px;
  font-weight: 600;
  color: #fff;
  background-color: #355943;
  border-radius: 8px;
}

.contact_link a {
  color: #c8e6c9;
  text-decoration: none;
  font-size: 14px;
  transition: color 0.3s ease;
}

.contact_link a:hover {
  color: #fff;
}

.contact_link input {
  position: absolute;
  width: 100%;
  height: 52px;
  padding-inline: 12%;
  color: #fff;
  background: transparent;
  box-sizing: border-box;
  border: 1px solid #549e73;
  border-radius: 12px;
  outline: none;
  font-size: 14px;
  transition: border-color 0.3s ease;
}
.contact_link input:focus {
  border-color: #f5f3ef;
  transition: border-color 0.3s ease;
}
.contact_link input::placeholder {
  color: #758179;
}

.contact_action {
  margin-left: auto;
  margin-right: 15px;
  z-index: 10;
  color: #6ecf96;
  background-color: inherit;
  font-size: 18px;
  cursor: pointer;
  border: none;
  transition: color 0.3s ease;
}

.contact_action:hover {
  color: #fff;
}
