.header {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 25px;
  padding-bottom: 25px;
  background-color: #2f7f53;
}

.header_structure {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1320px;
  margin: 0 auto;
}

.navBar_items {
  display: flex;
  gap: 25px;
}

.navBar_auth {
  display: flex;
  gap: 12px;
}

.profile {
  padding: 10px 25px;
  color: #fff;
  border-radius: 12px;
  box-sizing: border-box;
}

.not_active {
  opacity: 0.5;
  transition: opacity 0.3s ease;
}

.not_active:hover {
  opacity: 1;
}

.header_active_links {
  color: #fff;
}

.not_active_link {
  color: #fff;
  opacity: 0.5;
  transition: opacity 0.3s ease;
}

.not_active_link:hover {
  opacity: 1;
}

.project_name {
  color: #fff;
  transition: opacity 0.3s ease;
}
.project_name:hover {
  opacity: 0.7;
}

.auth_link {
  padding: 10px 15px 10px 15px;
  color: #7cbf8f;
  border: 2px solid #7cbf8f;
  border-radius: 20px;
  background-color: inherit;
  transition:
    color 0.4s ease,
    background-color 0.4s ease;
}

.auth_link:hover {
  color: #163f2f;
  background-color: #7cbf8f;
}

.loading {
  padding: 10px 25px;
  color: #fff;
  box-sizing: border-box;
  border: 2px solid #7cbf8f;
  border-radius: 12px;
}
