.profile_cont {
  display: flex;
  justify-content: space-between;
  width: 1320px;
  margin: 0 auto;
  padding-top: 160px;
}

.profile_main {
  display: flex;
  flex-direction: column;
  width: 48%;
  padding: 20px;
  border: 1px solid #455f52;
  border-radius: 25px;
  background-color: #2a4738;
}

.profile_main_title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 30px;
}

.profile_main_info {
  display: flex;
  gap: 79px;
}
.profile_get_info {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding-top: 20px;
}

.profile_prof {
  padding: 8px 14px 8px 14px;
  color: #6ecf96;
  background-color: #355943;
  border-radius: 12px;
  transition: all 0.3s ease;
}
.profile_input_cont {
  width: 40%;
}

.profile_input {
  width: 100%;
  margin-top: 10px;
  margin-bottom: 15px;
  padding: 12px 21px 12px 24px;
  color: #fff;
  border: 2px solid #455f52;
  background-color: #2a4738;
  border-radius: 12px;
  transition: border-color 0.3s ease;
  outline: none;
}

.profile_input:focus {
  border: 2px solid #7cbf8f;
}

.profile_prof:hover {
  cursor: default;
  transform: scale(1.1);
}

.profile_aboutme_input {
  width: 100%;
  min-width: 40%;
  max-width: 100%;
  min-height: 60px;
  max-height: 600px;
  margin-top: 10px;
  margin-bottom: 15px;
  padding: 12px 21px 12px 24px;
  color: #fff;
  box-sizing: border-box;
  border: 2px solid #455f52;
  background-color: #2a4738;
  border-radius: 12px;
  outline: none;
  transition: border-color 0.3s ease;
}
.profile_aboutme_input:focus {
  border-color: #6ecf96;
}

.profile_create_user_skill {
  width: fit-content;
  margin-top: 12px;
  padding: 10px 20px;
  cursor: pointer;
  color: #758179;
  background-color: #2a4534;
  border: 1px dashed #758179;
  border-radius: 30px;
  transition:
    color 0.3s ease,
    border-color 0.3s ease,
    background-color 0.3s ease;
  outline: none;
}

.profile_create_user_skill:hover {
  color: #6ecf96;
  border-color: #6ecf96;
  background-color: #355943;
}

.profile_create_user_skill:focus {
  color: #6ecf96;
  border-color: #6ecf96;
}

.profile_create_skill {
  width: 60%;
  margin-left: 20px;
  padding: 10px 25px;
  color: #fff;
  border: 2px solid #455f52;
  border-radius: 30px;
  background-color: #2a4534;
  transition: all 0.6s ease;
  outline: none;
}

.profile_create_skill:hover {
  border-color: #6ecf96;
}

.profile_create_skill:focus {
  border-color: #6ecf96;
}

.profile_create_skill_no {
  pointer-events: none;
  opacity: 0;
  width: 0%;
  margin-left: 20px;
  padding: 10px 25px;
  color: #fff;
  border: 2px solid #455f52;
  border-radius: 30px;
  background-color: #2a4534;
  transition: all 0.6s ease;
}

.profile_save {
  width: fit-content;
  margin-top: 15px;
  padding: 10px 20px;
  cursor: pointer;
  color: #fff;
  border: 2px solid #455f52;
  border-radius: 12px;
  background-color: #355943;
  transition: border-color 0.3s ease;
}

.profile_save:hover {
  border-color: #7cbf8f;
}
