.welcome {
  display: flex;
  width: 100%;
  max-width: 1320px;
  height: 100vh;
  margin: 0 auto;
  padding-top: 160px;
}

.welcome_info {
  display: flex;
  flex-direction: column;
  max-width: 600px;
}

.welcome_info_cont {
  display: flex;
  flex-direction: column;
  padding-bottom: 20px;
}

.welcome_job {
  position: relative;
  width: fit-content;
  padding: 8px 15px 8px 30px;
  border-radius: 30px;
  color: #fff;
  background-color: #3e7d68;
  transition: transform 0.3s ease;
}

.welcome_job::before {
  position: absolute;
  top: 50%;
  left: 13px;
  transform: translateY(-50%);
  display: block;
  content: '';
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #4cae7d;
}

.welcome_job:hover {
  cursor: default;
  transform: scale(1.1);
}

.welcome_info_title {
  padding-top: 10px;
  font-size: 42px;
  color: #8b9c94;
}

/* Для кнопки  */
.for_my_link {
  display: flex;
  align-items: center;
  gap: 25px;
  padding-block: 12px;
  padding-inline: 20px;
  font-size: 20px;
  color: #fff;
  border-radius: 14px;
  background-color: #2f7f53;
  transition: opacity 0.3s ease;
}

.for_my_link:hover {
  opacity: 0.75;
}

/* Разное  */

.links {
  display: flex;
  align-items: center;
  gap: 10px;
  padding-top: 10px;
}

.user_name {
  color: #3e7d68;
}
