body {
  margin: 0;
  font-family: sans-serif;
  color: #fff;
  background-color: #242424;
}

p {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}
